# format: host1:port1,host2:port2 ...
bootstrap.servers={{ kafka_consumer_host }}:{{ kafka_consumer_port }}

# consumer group id
group.id={{ kafka_consumer_group_id }}

# options: latest, earliest, none
{% if kafka_auto_offset_reset is defined %}
auto.offset.reset=
{% endif %}
