dataDir={{ kafka_zookeeper_data_dir }}

clientPort={{ kafka_zookeeper_client_port }}

# disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns=0

# zookeeper server enable
{% if kafka_zookeeper_enable_server %}
admin.enableServer={{ kafka_zookeeper_enable_server }}
admin.serverPort={{ kafka_zookeeper_server_port }}
{% endif %}
